<% layout("/layouts/boilerplate") -%>
<h1>Edit Campground</h1>
<form action="/campgrounds/<%= foundCamp._id %>?_method=PUT" method="post">
  <label for="">Title</label>
  <input type="text" id="title" name="campground[title]" value="<%= foundCamp.title %> ">
  <label for="">Location</label>
  <input type="text" id="location" name="campground[location]" value="<%= foundCamp.location %> ">
  <button>Update</button>
</form>
<a href="/campgrounds/<%= foundCamp._id %>">Cancel</a>