<% layout("/layouts/boilerplate") -%>
<h1>Create New Campground</h1>
<form action="/campgrounds" method="post">
  <label for="">Title</label>
  <input type="text" id="title" name="campground[title]">
  <label for="">Location</label>
  <input type="text" id="location" name="campground[location]">
  <button>Submit</button>
  <br>
  <a href="/campgrounds">Cancel</a>
</form>